.bigTerminal
{
	background:url('http://www.rick-pierce.com/office/img_Terminal.png') 0 0 no-repeat;
	display:block;
	position:absolute;
	left:50%;
	top:400px;
	width:400px;
	height:400px;
	margin-left:-200px;
	margin-top:-200px;
	background-color:transparent;
	box-shadow:none;
	border:none;
}

/*animations*/
.plop
{
	animation:plop 0.2s;
}
@keyframes plop
{
	0% {transform:scale(1.1,0.8);}
	50% {transform:scale(0.9,1.1);}
	100% {transform:scale(1,1);}
}

.wobble
{
	animation:wobble 0.25s;
}
@keyframes wobble
{
	0% {transform:scale(1.1);}
	20% {transform:scale(0.95);}
	40% {transform:scale(1.05);}
	60% {transform:scale(0.975);}
	80% {transform:scale(1.025);}
	100% {transform:scale(1);}
}

.bounce
{
	transform-origin:50% 100%;
	animation-name:bounce;animation-iteration-count:infinite;animation-duration:1.2s;
}
@keyframes bounce
{
	0% 		{transform:scale(1,1);}
	10% 	{transform:scale(0.99,1.01);}
	20% 	{transform:scale(1.05,0.95);}
	25% 	{transform:scale(0.9,1.05) translate(0px,-5px);}
	30% 	{transform:scale(0.95,1.02) translate(0px,-15px);}
	60% 	{transform:scale(1,1) translate(0px,-12px);}
	70% 	{transform:scale(1.2,0.9);}
	80% 	{transform:scale(0.98,1.02);}
	90% 	{transform:scale(1,1);}
	100% 	{transform:scale(1,1);}
}